1_synth_graphs/data
1_synth_graphs/results
1_synth_graphs/models
1_synth_graphs/prototyping/models

2_real_graphs/data
2_real_graphs/results
2_real_graphs/models
2_real_graphs/prototyping/models

3_synth_attr/data
3_synth_attr/results
3_synth_attr/models
3_synth_attr/prototyping/models

4_real_attr/data
4_real_attr/results
4_real_attr/models
4_real_attr/prototyping/models
